body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  height: 100%;
  margin: 0;
  background-color: #f1eded;
}

h1,
h2,
h3,
p,
ul,
li {
  margin: 0;
}

.mainContainer {
  display: grid;
  /*SearchBar ErrorMessage Container
  Footer is outside the grid
  */
  grid-template-rows: 100px 1fr;
  justify-content: center;
}

.titleContainer {
  background-color: #202020;
  color: white;

  font-size: 35px;

  /* Align text vertical and horizontal*/
  display: flex;
  justify-content: center;
  align-items: center;
}

.searchBarGroup {
  padding: 20px;

  /* Align text vertical and horizontal*/
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Put input and button next to each one*/
ul {
  display: flex;
  gap: 20px;
}

/* Adjust size*/
input {
  height: 40px;
  width: 400px;
  border: 0;
  /* Add rounded corners and use padding to move the "Location text" */
  border-radius: 10px;
  padding-left: 10px;
}

/* Adjust size*/
button {
  height: 40px;
  border: 0;
}

/* Change to hand cursor when hovering a button*/
button:hover {
  cursor: pointer;
}

#submitSearch {
  background-color: #202020;
  color: white;

  /* Add rounded corners and use padding to move the "Location text" */
  border-radius: 10px;

  /* Align text vertical and horizontal*/
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Remove bullets */
li {
  list-style-type: none;
}

.container {
  max-width: 1000px;

  gap: 20px;

  /* Align text vertical and horizontal*/
  display: grid;
  grid-template-columns: 1fr;
  /* ErrorMessage Address Temperature AdditionalInfo*/
  grid-template-rows: 40px 40px 1fr 1fr;

  justify-content: center;
  align-items: start;
}

.errorContainer {
  /* Use the whole space provided by the grid parent container*/
  height: 100%;
  /* Align text vertical and horizontal*/
  display: inline-block;
}

.errorMessage {
  /* Use the whole space provided by the grid parent container*/
  height: 100%;

  background-color: #c52626;
  color: white;
  font-weight: bold;

  /* Align text vertical and horizontal*/
  display: flex;
  justify-content: center;
  align-items: center;
  /* Add rounded corners */
  border-radius: 10px;
}

.errorContainer,
.addressGroup,
.weatherInfoGroup,
.additionalInfoGroup {
  grid-column: 1/-1;
}

.addressGroup {
  background-color: white;
  color: black;

  /* Center just text*/
  text-align: center;

  /* Add rounded corners */
  border-radius: 5px;
}

.weatherInfoGroup {
  /* Create 2 columns*/
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr;

  gap: 20px;
}

.weatherInfoGroupLeft,
.weatherInfoGroupRight {
  padding: 10px;
}

/* Change background an text color based on the temperature */
.cool {
  background-color: #c52626;
  color: white;
}

.weatherInfoGroupLeft {
  border: 1px solid black;
  gap: 10px;

  display: flex;
  /* Add rounded corners */
  border-radius: 5px;
}

.mainTemperature {
  /* Center temperature*/
  display: flex;
  align-items: center;
  font-size: 35px;
}

/* Use flex to allow the usage of gap*/
.tempInfo {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.toggleTemperatureType {
  /* Move button to the end of the container*/
  align-self: flex-end;
}

/* Attach it to the end of the screen no matter size */
.footer {
  width: 100%;
  text-align: center;
  margin-top: auto;
  background-color: #272727;
  font-weight: bold;
}

.footer > a:visited,
a:link {
  color: white;
}
